.scrollY {
  -webkit-overflow-scrolling: touch;
  -webkit-overflow-scroll: touch;
  scrollbar-width: none;
  scrollbar-color: var(--color-grey-400) transparent;
  min-height: 0;
  overflow: hidden auto;
}
.chat-container {
  word-wrap: break-word;
  position: fixed;
  top: 0;
  right: 0;
  will-change: margin-right;
  background: rgb(15, 33, 46);
  filter: drop-shadow(0 0 5px rgba(25, 25, 25, 0.25));
  z-index: 900;
  flex-shrink: 0;
  width: 370px;
}

.chat-header {
  background: rgb(15, 33, 46);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  z-index: 2;
  position: relative;
  box-shadow:
    0 10px 15px -3px rgba(0, 0, 0, 0.2),
    0 4px 6px -2px rgba(0, 0, 0, 0.1);
  flex-shrink: 0;
  touch-action: none;
  padding-right: 6px;
  padding-left: 1rem;
}

.chat-language-icon,
.chat-popout-icon,
.chat-close-icon {
  width: 24px;
  height: 24px;
  margin: 0 5px;
  cursor: pointer;
}

.chat-username {
  flex-grow: 1;
  font-weight: bold;
}

.chat-messages {
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow: hidden;
  position: relative;
  touch-action: none;
  max-height: calc(100vh - 180px);
}
.message-content {
  overflow-x: hidden;
  min-height: 0px;
  transform: translateZ(0);
  overflow-y: scroll;
  word-break: break-word;
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: column;
  overflow-anchor: none;
  overscroll-behavior: contain;
}
.chat-wrap {
  border-radius: 0.25rem;
  width: 100%;
  background: rgb(33, 55, 67);
  margin-top: 0.5rem;
}
.chat-content {
  padding: 0.5rem 1rem;
  width: 100%;
}
.chat-content > p {
  color: white;
  width: 100%;
  line-height: 1.5;
  text-align: left;
  font-size: 0.875rem;
  font-weight: 400;
  display: flex;
  align-items: center;
  margin: 0;
}
.chat-user-tag > button {
  /* margin-left: 1.25rem; */
  color: #b1bad3;
  white-space: nowrap;
  font-weight: 600;
  line-height: 1.5;
  font-size: 0.875rem;
  background-color: #0000;
  border-radius: 0.25rem;
  gap: 0.5rem;
  background-color: #0000;
  align-items: center;
  display: inline-flex;
}
.chat-content-wrap {
  display: inline-flex;
  align-items: center;
  overflow: hidden;
  line-height: 1.5;
}
.chat-user-tag {
  display: inline-flex;
}

.chat-footer {
  position: relative;
  display: grid;
  align-items: center;
  padding: 1rem;
  row-gap: 0.5rem;
  background: rgb(33, 55, 67);
  grid-template-rows: auto;
  grid-template-columns: auto 1fr;
  grid-template-areas:
    'input input'
    'online actions';
  touch-action: none;
}

.chat-input {
  grid-area: input;
  touch-action: none;
  color: white;
}
.chat-input > label {
  width: 100%;
  flex-direction: column-reverse;
  align-items: flex-start;
  touch-action: none;
  display: inline-flex;
  position: relative;
}
.chat-text-area {
  position: relative;
  width: 100%;
}
.chat-text-area pre {
  white-space: break-spaces;
  width: 100%;
  color: white;
  background: rgb(15, 33, 46);
  box-shadow:
    0 1px 3px 0 rgba(0, 0, 0, 0.2),
    0 1px 2px 0 rgba(0, 0, 0, 0.12);
  border: 2px solid rgb(47, 69, 83);
  border-radius: 0.25rem;
  font-weight: 600;
  outline: 0;
  margin: 0;
  cursor: text;
  -moz-appearance: none;
  appearance: none;
  font-size: 0.875rem;
  padding: 0.5rem;
  transition: none;
}
.chat-text-area textarea::placeholder {
  color: #566671;
}
.chat-text-area textarea {
  white-space: break-spaces;
  width: 100%;
  color: white;
  background: rgb(15, 33, 46);
  box-shadow:
    0 1px 3px 0 rgba(0, 0, 0, 0.2),
    0 1px 2px 0 rgba(0, 0, 0, 0.12);
  border: 2px solid rgb(47, 69, 83);
  border-radius: 0.25rem;
  font-weight: 600;
  outline: 0;
  margin: 0;
  cursor: text;
  -moz-appearance: none;
  appearance: none;
  font-size: 0.875rem;
  padding: 0.5rem;
  padding-right: 2.5rem;
  transition: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  resize: none;
  overflow: auto;
  scrollbar-width: none;
  scrollbar-color: var(--color-grey-400) transparent;
  min-height: 0;
}
.chat-text-area textarea:hover {
  color: white;
  border-color: rgb(85, 112, 134);
}
.chat-text-area textarea:focus {
  color: white;
  border-color: rgb(85, 112, 134);
}

.chat-input-button-wrap {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  padding-right: 0.25rem;
}

.chat-send-button {
  margin-left: 5px;
  padding: 5px;
  background: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.chat-button {
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  color: #fff;
  white-space: nowrap;
  font-weight: 600;
  line-height: 1;
  padding-block: 0.75rem;
  padding-inline: 0.75rem;
  background-color: #0000;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  display: inline-flex;
  position: relative;
  outline: none;
}
.chat-online {
  grid-area: online;
  display: flex;
  align-items: center;
  touch-action: none;
}
.chat-online .scale-up {
  touch-action: none;
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 9999px;
  z-index: 1;
  background: rgb(31, 255, 32);
}
.chat-online-wrap {
  color: rgb(177, 186, 211);
  line-height: 1.5;
  display: inline;
  text-align: left;
  font-size: 0.75rem;
  font-weight: 600;
  margin-left: 0.5rem;
  align-items: center;
}
.chat-online-wrap span:nth-child(2) {
  color: rgb(177, 186, 211);
  line-height: 1.5;
  display: inline-flex;
  align-items: center;
  text-align: left;
  font-size: 0.75rem;
  font-weight: 600;

  justify-content: flex-start;
  font-variant-numeric: tabular-nums;
}
.actions {
  display: flex;
  grid-area: actions;
  justify-content: flex-end;
  align-items: center;
  gap: 0.75rem;
}

.action-counter {
  font-weight: 600;
  line-height: 1.5;
  text-align: left;
  justify-content: flex-start;
  display: inline-flex;
  font-size: 0.75rem;
  color: rgb(177, 186, 211);
}

.action-button {
  display: inline-flex;
  position: relative;
  align-items: center;
  gap: 0.5rem;
  justify-content: center;
  border-radius: 0.25rem;
  font-weight: 600;
  white-space: nowrap;
  transition: all 0.2s ease;
  background-color: #2f4553;
  color: #fff;
  font-size: 0.875rem;
  line-height: 1;
  box-shadow:
    0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  padding: 0.8125rem 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
}

.action-button:hover {
  background-color: rgb(85, 112, 134);
  color: #fff;
}

.action-button:focus-visible {
  outline: 2px solid #fff;
  outline-offset: 2px;
}

.action-button:active {
  transform: scale(0.98);
}

.action-button:disabled {
  pointer-events: none;
  opacity: 0.5;
}

.send-button {
  display: inline-flex;
  position: relative;
  align-items: center;
  gap: 0.5rem;
  justify-content: center;
  border-radius: 0.25rem;
  font-weight: 600;
  white-space: nowrap;
  transition: all 0.2s ease;
  background-color: #00e701;
  color: #05080a;
  font-size: 0.875rem;
  line-height: 1;
  box-shadow:
    0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  padding: 0.8125rem 1rem;
  border: none;
  cursor: pointer;
}

.send-button:hover {
  background-color: rgb(31, 255, 32);
  color: #000;
}

.send-button:focus-visible {
  outline: 2px solid #fff;
  outline-offset: 2px;
}

.send-button:active {
  transform: scale(0.98);
}

.send-button:disabled {
  pointer-events: none;
  opacity: 0.5;
}
