.footer {
  background: #00162b;
  color: white;
  width: 100%;
}

.footer-wrapper {
  margin: auto;
  padding-bottom: 5rem;
  padding-top: 1rem;
}
.footer-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.footer-media {
  display: flex;
  justify-content: space-between;
  margin: 2.5em 0;
  position: relative;
  width: 100%;
  flex-wrap: wrap;
}
.footer-media-terms {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}
.footer-media-title {
  margin-bottom: 0;
  margin-left: 1em;
  margin-top: 0.6em;
  width: 16em;
  color: white;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 700;
}
.footer-media-image {
  font-size: 1rem;
  line-height: 1.5rem;
}
.footer-media-terms-image {
  object-fit: contain;
  width: 4em;
  border: 0;
  height: 100%;
}
.footer-media-sponsors {
  display: flex;
  justify-content: center;
}
.footer-media-sponsors-image {
  height: 4em;
  padding: 0 0.5em;
  width: auto;
}
.footer-menu-block {
  cursor: default;
  margin-bottom: 2em;
}
.footer-menu-title {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
  color: white;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 700;
}
.footer-menu-link {
  font-size: 0.875em;
  line-height: 1.5em;
  position: relative;
  text-decoration: none;
  color: white;
}
.footer-menu-link:hover {
  color: white;
}
.footer-media-providers {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem 1rem;
  margin-bottom: 1rem;
  width: inherit;
}
.footer-media-payment a {
  display: flex;
  cursor: pointer;
  display: inline;
}

.footer-media-providers-title {
  flex-basis: 100%;
  margin: 0;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 700;
  color: white;
}
.footer-media-providers-image {
  aspect-ratio: 3 / 1;
  object-fit: contain;
  width: 6.25rem;
  border: 0;
  height: 100%;
}
.footer-media-payment {
  align-self: flex-end;
  order: 3;
}
.footer-media-payment-title {
  margin-bottom: 1rem;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 700;
}
.footer-media-payment-image {
  display: inline;
  border: 0;
  object-fit: cover;
  height: 1.875em;
  margin-right: 1em;
  width: inherit;
}
.footer-contact {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 2em;
  opacity: 0.6;
}
.footer-contact li {
  display: inline;
  margin: 0;
  font-size: 1rem;
}
.footer-contact-wrapper {
  display: flex;
  font-size: 0.75em;
}
.footer-contact-wrapper ul {
  margin-left: 1em;
}
.footer-contact-text {
  font-size: 0.75rem;
  line-height: 1.375rem;
  color: white;
  text-decoration: none;
}
.footer-contact-text:hover {
  color: white;
  text-decoration: none;
}
.Articles__articles--12Q {
  margin: 0 auto;
}
.Articles__article--3SO {
  margin: var(--hc-distance-between-components) 0;
}
.Articles__content--2Mi {
  margin-bottom: 2.5rem;
}
.Headings__h1--284 {
  font-size: 2.5rem;
  line-height: 3rem;
}
.Headings__bold--iD3 {
  font-weight: 700;
}
h1 {
  padding: 0;
}
.Articles__content--2Mi p {
  font-weight: 500;
  margin-bottom: 1.5rem;
}
.PlainText__medium--1_S {
  font-size: 1rem;
  line-height: 1.5rem;
}
.PlainText__dark--3fd {
  color: var(--dark-theme-font-color);
  --underline-color: var(--dark-theme-underline-color);
}
.PlainText__text--1wg {
  line-height: 1.5rem;
  margin: 0;
}
.Articles__title--2MR {
  margin-bottom: 1rem;
  text-align: center;
}
.dropdown.active .dropdown-header img {
  transform: rotate(180deg);
}
.Headings__h4--2JP {
  font-size: 1rem;
  line-height: 1.5rem;
}
.dropdown-header img {
  height: 18px;
  width: 18px;
  margin-right: 10px;
  transition: transform 0.4s;
}
.dropdown.active .dropdown-content {
  min-height: 100px !important;
  max-height: 400px;
  padding: 1.25rem;
  overflow-y: auto;
}
.dropdown-content {
  max-height: 0;
  overflow: hidden;
  padding: 0 20px;
  background-color: rgba(95, 92, 109, 0.33);
  border-radius: 7px;
  margin-top: 6px;
  transition:
    max-height 0.4s ease-out,
    padding 0.4s ease-out;
}
.dropdown-content p,
.dropdown-content ol,
.dropdown-content ul {
  margin-bottom: 20px;
}
.dropdown-content ul {
  margin: 1.25rem 0;
  padding-left: 1rem;
}
.dropdown-content ul li {
  list-style-type: none;
  position: relative;
  margin-bottom: 0;
  padding-left: 30px;
  font-family: 'Cadiz' !important;
  font-weight: 300 !important;
  margin-bottom: 0.86em;
}
.dropdown-content li {
  margin: 1.25rem 0;
}

@media (max-width: 1000px) {
  .Headings__h1--284 {
    font-size: 1.875rem;
    line-height: 2.125rem;
  }
}
@media only screen and (min-width: 769px) {
  .hero__content {
    max-width: 45%;
    margin-bottom: 0;
  }
  .hero__content {
    gap: 1rem;
  }
}
