/* Основной контейнер сайдбара */
.sidebar_project {
  position: fixed;
  background: rgb(15, 33, 46);
  width: 260px;
  top: 0;
  bottom: 0;
  z-index: 3;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  filter: drop-shadow(0 0 5px rgba(25, 25, 25, 0.25));
  will-change: margin-left;
  word-wrap: break-word;
  font-size: 1rem;
  font-weight: 600;
  transition: all 0.5s;
}

/* Адаптация контента */

/* Текст с обрезкой */
.is-truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Аккордеон */
.accordion {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  z-index: 0;
  border-radius: 0.25rem;
}
.scrollable .accordion .svg_isopen,
.scrollable .accordion .is_small {
  display: none;
}
.accordion .header {
  z-index: 4;
  display: flex;
}

.accordion .content {
  max-height: 0;
  overflow: hidden;
  flex-direction: column;
  align-content: flex-start;
  padding: 0;
  touch-action: pan-x;
  flex: 1;
  display: flex;
  transition: max-height 0.3s ease;
  scrollbar-width: none;
  scrollbar-color: var(--color-grey-400) transparent;
  min-height: 0;
}

.accordion .content.isopen {
  max-height: 1000px;
}

/* Внутренний контейнер */
.inner_content {
  background-color: rgb(26, 44, 56);
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  opacity: 0;
  transform: translateY(50px);
}
input:checked ~ .indicator {
  background-color: rgb(47, 69, 83);

  background-size: 75%;
}
input[type='radio'] ~ .indicator {
  border-radius: 999px;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNy4xLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB2aWV3Qm94PSIwIDAgOCA4IiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCA4IDgiIHhtbDpzcGFjZT0icHJlc2VydmUiPg0KPHBhdGggZmlsbD0iI0ZGRkZGRiIgZD0iTTQsMUMyLjMsMSwxLDIuMywxLDRzMS4zLDMsMywzczMtMS4zLDMtM1M1LjcsMSw0LDF6Ii8+DQo8L3N2Zz4NCg==);
}
.indicator.size-md {
  width: 1.25rem;
  height: 1.25rem;
}
.indicator.variant-default {
  border: 2px solid rgb(47, 69, 83);
}
.indicator {
  outline: 0;
  width: 1.5em;
  height: 1.5em;
  flex-shrink: 0;
  background: none;
  background-size: 0;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow:
    0 1px 3px 0 rgba(0, 0, 0, 0.2),
    0 1px 2px 0 rgba(0, 0, 0, 0.12);
  cursor: pointer;
}
/* Базовый стиль для ссылок */
.sidebar_anchor_base {
  max-width: 100%;
}

.sidebar_anchor_base[disabled] {
  pointer-events: none;
}

/* Кнопки в сайдбаре */
.promo_anchor_button,
.anchor_button {
  display: inline-flex;
  position: relative;
  align-items: center;
  gap: 0.5rem;
  white-space: nowrap;
  transition-property: background-color, color, transform;
  transition-duration: 150ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  background-color: transparent;
  color: white;
  line-height: 1;
  padding: 0.8125rem 1rem;
  width: 100%;
  border-radius: 0.25rem;
  cursor: pointer;
  font-weight: 600;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #0e1224b3;
}

.promo_anchor_button {
  font-weight: 600;
  font-size: 1rem;
  justify-content: space-between;
}

.anchor_button {
  justify-content: flex-start;
  max-width: 100%;
  outline-offset: var(--ring-offset-background, initial);
}
.lang-button {
  justify-content: space-between;
}
.promo_anchor_button:disabled,
.anchor_button:disabled {
  pointer-events: none;
  opacity: 0.5;
}

.promo_anchor_button:focus-visible,
.anchor_button:focus-visible {
  outline-style: solid;
  outline-width: 2px;
  outline-offset: 2px;
  outline-color: white;
}

.promo_anchor_button svg,
.anchor_button svg {
  color: #b1bad3;
  transition: color 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sidebar__btn-close:hover .svg-icon {
  fill: white;
}

/* Заголовок аккордеона */
.sidebar_accordion_title {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

/* Текстовый контейнер */
.wrapper-text {
  display: flex;
  flex-direction: column;
  padding-block: calc(0.25rem * 1.75);
  padding-inline: 1rem;
}

.wrapper-text span {
  line-height: 1.5;
  text-align: left;
  color: #b1bad3;
  display: inline-flex;
  gap: 0.5rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Контейнер для SVG */
.svg_container {
  border-radius: 0.25rem;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 1rem;
  height: 1rem;
  display: flex;
  margin-block: -0.25rem;
}

/* Контент сайдбара */
.sidebar_content {
  margin-left: 1.5rem;
  border-left: 2px solid rgb(47, 69, 83);
}

/* Разделитель */
.spacing_div {
  padding-block: calc(0.25rem * 2.5);
  padding-inline: 0.5rem;
  height: auto;
}

.spacing {
  background: rgb(47, 69, 83);
  height: 2px !important;
  width: 100%;
  margin: 0;
  opacity: 1;
}

/* Прокручиваемый контейнер */
.scrollable {
  padding: 1rem;
  overscroll-behavior: contain;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
  scrollbar-color: #2f4553, transparent;
  min-height: 0;
  max-height: calc(100vh - 60px);
  overflow: hidden auto;
}

/* Изображения продуктов */
.productImg {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  border-radius: 0.25rem;
}

img {
  -webkit-user-select: none;
  user-select: none;
  width: 100%;
  height: auto;
  display: block;
}

/* Кнопки в заголовке */
.header-button {
  overflow: hidden;
  position: relative;
  display: flex;

  flex: 1;
  align-items: center;
  justify-content: center;
  min-height: 2.25rem;
  border-radius: 0.25rem;
  color: white;
  text-decoration: none;
  font-weight: 600;
  text-shadow:
    0 1px 2px rgba(0, 0, 0, 0.12),
    0 1px 3px rgba(0, 0, 0, 0.2);
  -webkit-user-select: none;
  user-select: none;
}

.header-button:hover {
  color: white;
}

/* SVG-иконки */
.svg-icon {
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
  flex-shrink: 0;
  width: 1em;
  height: 1em;

  display: inline-block;
}
.sidebar_project .scrollable .svg-icon {
  width: 1em;
  height: 1em;
}

/* Заголовок сайдбара */
.sidebar_header {
  display: flex;
  padding: 0 1rem 0 0;
  touch-action: none;
  box-shadow:
    0 10px 15px -3px rgba(0, 0, 0, 0.2),
    0 4px 6px -2px rgba(0, 0, 0, 0.1);
}

.link_wrap {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  justify-content: flex-end;
}

/* Элементы списка */

/* Кнопка закрытия */
.sidebar__btn-close {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  min-width: 3.75rem;
  height: 3.75rem;
  border-radius: 0.25rem;
  background: rgb(15, 33, 46);
}

/* Общие стили для кнопок */
button,
input,
select,
textarea {
  cursor: pointer;
  color: inherit;
  border: none;
  padding: 0;
  line-height: 1.5;
}

/* Свёрнутое состояние сайдбара */
.sidebar_project.closed {
  width: 60px;
}
.sidebar_project.closed .content {
  display: flex;
  overflow: hidden;
}
.sidebar_project.closed .inner_content {
  background-color: unset;
}
.sidebar_project .inner_content > :nth-child(1) {
  display: none;
}
.sidebar_project.closed .inner_content > :nth-child(1) {
  display: block;
}

.sidebar_project.closed span {
  display: none;
}

.sidebar_project.closed .toggle-menu-list {
  display: none;
}

.sidebar_project.closed #projectGamesList {
  display: block !important;
}

.sidebar_project.closed .anchor_button:hover,
.sidebar_project.closed .promo_anchor_button:hover {
  background-color: rgb(47, 69, 83);
  color: white;
}
.promo_anchor_button:hover,
.anchor_button:hover {
  background-color: rgb(47, 69, 83);
  color: white;
}

.sidebar_project.closed .anchor_button:hover .svg-icon,
.sidebar_project.closed .anchor_button.activeBox .svg-icon,
.sidebar_project.closed .promo_anchor_button:hover .svg-icon,
.sidebar__btn-close:hover .svg-icon {
  fill: white;
}
.sidebar_project.closed .anchor_button,
.sidebar_project.closed .promo_anchor_button {
  display: inline-flex; /* inline-flex */
  position: relative; /* relative */
  gap: 0.5rem; /* gap-2 */
  font-weight: 600; /* font-semibold */
  white-space: nowrap; /* whitespace-nowrap */

  transition-property: background-color, color, transform; /* transition */
  transition-duration: 150ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  background-color: transparent; /* bg-transparent */
  color: white; /* text-white */
  font-size: 0.875rem; /* text-sm */
  line-height: 1; /* leading-none */
  border-radius: var(
    --ds-radius-md,
    0.25rem
  ); /* rounded-(--ds-radius-md,0.25rem) */
  max-width: 100%; /* max-w-full */
  width: 2.75rem; /* w-11 = 44px, 44px/16=2.75rem */
  height: 2.75rem; /* h-11 */
  padding: 0.25rem; /* p-1 */
  align-items: center; /* items-center */
  justify-content: center;
}

.sidebar_project.closed .anchor_button .is-truncate,
.sidebar_project.closed .promo_anchor_button .is-truncate,
.sidebar_project.closed .wrapper-text,
.sidebar_project.closed .sidebar_header .link_wrap,
.sidebar_project.closed .svg_container {
  display: none;
}
.sidebar_project.closed .spacing_div {
  padding-block: calc(0.25rem * 2.5);
  padding-inline: calc(0.25rem * 2);
}
.sidebar_project.closed .accordion .svg_isopen,
.sidebar_project.closed .accordion .is_small {
  display: flex;
}
.sidebar_project.closed .scrollable {
  overflow: auto;

  flex-direction: column;

  gap: 0.5rem;
  scrollbar-gutter: stable;
  padding: 0 calc(0.25rem * 2) 0 0.5rem;
}
.sidebar_project.closed .anchor_button .svg-icon,
.sidebar_project.closed .sidebar_header {
  justify-content: center;
  padding: 0;
}


.sidebar_project.closed .sidebar__btn-close {
  margin: 0 auto;
}

.sidebar_project.closed .sidebar__btn-close span,
.sidebar_project.closed .accordion .header span span,
.sidebar_project.closed .accordion .header-title {
  display: none;
}
.sidebar_project.closed .accordion .header span {
  display: flex;
}
.sidebar_project.closed .sidebar__btn-close i {
  transform: rotate(-135deg);
}
@media (max-width: 1200px) {
  .sidebar_project {
    z-index: 1599;
  }
} /* Медиа-запросы */
.overlay[data-layout] {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1598;
  opacity: 0;
  visibility: hidden;
  transition:
    opacity 0.3s ease,
    visibility 0.3s ease;
  cursor: pointer;
}

.overlay[data-layout].active {
  opacity: 1;
  visibility: visible;
}
.sidebar_project .scrollable .gif-icon,.game-slider-header .gif-icon ,.tabs-button .gif-icon {
    width: 40px;
    height: 40px;
}
/* Скрываем на десктопе */
@media (min-width: 1200px) {
  .overlay[data-layout] {
    display: none !important;
  }
}

/* Показываем только на мобильных */
@media (max-width: 1199px) {
  .overlay[data-layout] {
    display: block;
  }
}
