.sidebar {
  bottom: 0;
  display: flex;
  font-size: 0.75em;
  left: 0;
  position: fixed;
  top: 0;
  width: 0;
  z-index: 11;
  color: white;
}
.sidebar-content {
  align-self: center;
  margin-left: 0.5rem;
  max-width: 7.5em;
}
.sidebar-item {
  will-change: opacity, margin-left;
  transition: 0.3s;
  margin-bottom: 1.5em;
  opacity: 0.6;
  width: 100%;
}
.sidebar-item:hover,
.sidebar-item.active {
  opacity: 1;
  margin-left: 0.5rem;
}
.sidebar-item a {
  text-decoration: none;
  color: inherit;
  display: flex;
  line-height: 1.5;
  position: relative;
  cursor: pointer;
  font-size: 0.75rem;
  margin: 0;
}
.sidebar-item .active a {
  color: inherit;
  text-decoration: inherit;
}
.sidebar-item-image {
  flex: 0 0 auto;

  position: relative;
  height: 2rem;
  width: 2rem;

}
.sidebar-item-text {
  left: 0.5em;
  position: relative;
  top: 0.7em;
  white-space: nowrap;
}
